@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Crimson+Text:ital@1&family=Signika:wght@300&display=swap');

:root {
    --primary: #364652;
    --black: #0F0F0F;
    --secondary: #5e6f7c;
    --off-cyan: #F6F5F5;


    --gray: #F3F4F6;
    --dark-gray: #6B7280;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
}




/* Navigation bar */

.navigation {
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* padding-bottom: 2p; */
}

.nav-brand {
    font-weight: bold;
    font-size: 5vh;
    padding-left: 40px;
    display: block;
    padding-top: 1rem;
    /* text-align: center; */

}

.navigation .link {
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
}


.nav-items {
    padding-right: 0.5rem;
    font-size: 1.3rem;
    /* display: inline; */
    text-align: right;
}


.navigation .active {
    font-weight: bold;
}

.navigation,
header,
h1 {
    font-family: 'Signika', sans-serif;
}



/** Model and heading **/
.model {
    margin: auto;
    display: block;
    max-width: 80%;
    width: 600px;
    padding-top: 20px;


}

.model-heading {
    font-size: 2.2rem;
    text-align: center;
}

.highlight {
    color: var(--primary);
}



/** Section **/

.section {
    padding: 1rem;
    max-width: 100vw;
    color: var(--black);
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 11px;
    box-shadow: 0px 56px 145px -5px var(--off-cyan);
}


.section a {
    font-size: 1.2rem;
}

.section p {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
    margin-bottom: 45px;
}


.colored-block {
    margin: auto;
    background-color: var(--primary);
    color: var(--off-cyan);
    border: 1px solid var(--primary);
    border-radius: 15px;
    opacity: 1;
    box-shadow: 0px 0px 13px 4px var(--primary)
}

.projects,
.blogs h1 {
    color: var(--pr);
}


/** Buttons **/

.btn-projects {
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 4px;
    border-radius: 4px;
    transition: 0.4s;

}

.btn-projects:hover {
    background-color: var(--primary);
    color: var(--off-cyan);
    transition: 0.4s;

}

.btn-primary {
    color: var(--off-cyan);
    border: 1px solid var(--off-cyan);
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
    transition: 0.4s;

}

.btn-primary:hover {
    background-color: var(--off-cyan);
    color: var(--primary);
    transition: 0.4s;

}

.filled-btn {
    background-color: var(--off-cyan);
    color: var(--primary);
    transition: 0.4s;

}

.filled-btn:hover {
    background-color: var(--primary);
    color: var(--off-cyan);
    transition: 0.4s;

}

.live-project {
    background-color: var(--primary);
    color: var(--off-cyan);
    transition: 0.4s;

}

.live-project:hover {
    background-color: var(--secondary);
    color: var(--off-cyan);
    border: 1px solid var(--primary);
}

/** Links **/

.link {
    list-style: none;
    text-decoration: none;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.7rem;
    text-align: right;
}

footer .link {
    color: var(--off-cyan);
}

.navigation .active {
    font-weight: bold;
}

/** Footer **/

footer {
    margin-top: 1rem;
    background-color: var(--primary);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--gray);

}

.footer-header {
    padding: 0.5rem 1rem;
}


/* links */
.section a {
    padding: 0.5rem;
}

@media only screen and (max-width: 900px) {

    .section {
        font-size: 1.1rem;
        padding: 1rem;
        width: 85%;
    }

    .section p {
        font-size: 1rem;
    }
}