@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #364652;
    --black: #0F0F0F;

    --gray: #F3F4F6;
    --off-cyan: #F6F5F5;
    --dark-gray:#6B7280;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 100%;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
}




/* Navigation bar */

.navigation{
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* padding-bottom: 2p; */
}

.nav-brand{
    font-weight: bold;
    font-size: 5vh;
    padding-left: 40px;
    display: block;
    padding-top: 1rem;
    /* text-align: center; */

}

.navigation .link{
    color: white;
    text-decoration:  none;
}


.nav-items {
    padding-right: 0.5rem;
    font-size: 1.3rem;
    /* display: inline; */
    text-align: right;
}


.navigation .active {
    font-weight: bold;
}



/** Model and heading **/
.model {
    margin: auto;
    display: block;
    max-width: 80%;
    width: 600px;
    padding-top: 20px;


}

.model-heading {
    font-size: 2.2rem;
    text-align: center;
}

.highlight {
    color: var(--primary);
}



/** Section **/

.section {
    padding: 1rem;
    max-width: 100vw; 
    color: var(--black);
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: large;
}

.container-center {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}


.colored-block{
    margin: auto;
    background-color: var(--primary);
    color: var(--off-cyan);
    border: 1px solid var(--primary);
    border-radius: 15px;
}

.projects, .blogs h1 {
    color: var(--primary);
}


/** Buttons **/

.btn-projects {
    border: 1px solid var(--primary);
    color: var(--primary); 
    padding: 4px;
    border-radius: 4px;
 
}
.btn-projects:hover{
    background-color: var(--primary);
    color: var(--off-cyan);
}

.btn-primary {
    color: var(--off-cyan);
    border: 1px solid var(--off-cyan);
    padding: 4px;
    border-radius: 4px;
    margin-top: 4px;
}

.btn-primary:hover{
    background-color: var(--off-cyan);
    color: var(--primary);
}

.filled-btn{
    background-color: var(--off-cyan);
    color: var(--primary);
}

.filled-btn:hover {
    background-color: var(--primary);
    color: var(--off-cyan);
}

.live-project {
    background-color: var(--primary);
    color: var(--off-cyan);
}

/** Links **/

.link {
    list-style: none; 
    text-decoration: none;
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.7rem;
    text-align: right; 
}

footer .link {
    color: var(--off-cyan);
}

.navigation .active {
    font-weight: bold;
}

/** Footer **/

footer {
    background-color: var(--primary);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--gray);

}

.footer-header{
    padding: 2rem 1rem;
}




